.hotelresultitem-tableName{
    width: 15%;
}

.hotelresultitem-tableGuests{
    width: 7%;
}

.hotelresultitem-tableSpecs{
    width: 40%;
}

.hotelresultitem-tablePrice{
    width: 10%;
}

.hotelresultitem-a{
    width: 11%;
}

.hotelresultitem-b{
    align-content: center;
}



